*{box-sizing:border-box;
    margin:0;
    padding:0; 
  }
 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
  body{
    background:#f5f7fa;
    height: 100vh;
    width: 100%;
    
    font-family: 'Roboto',sans-serif;
    
  }
.navbar{
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 10px 0;
    font-size: 1.5rem;
    color: #b4b9c0;
    
  }
.fire{
    color: #fe466ded;
}
.change{
  cursor:pointer;
  transform: scale(1.2);
  transition: transform 400ms ease;
 
}
.back-principal{
  cursor:pointer;
  transform: scale(1.2);
  transition: transform 400ms ease;
  color: #fd5068;
 
}
.back-principal:hover{
  color: #2db1ff;
  transform: scale(1.2);
}
.photo-and-actions{ 
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.arrox-doce{
  height: 200px;
  width: 200px;
}
 .photo{
    width: 98vw;
    height: 85vh;
   border-radius: 10px;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   color: #eee;
   box-shadow: 0 2px 10px 0 rgba(136,136,136,0.77);
   
 }
.photo-text{
  padding: 15px;
  background: rgb(2,0,36);
  background: rgb(2,0,36);
  background: linear-gradient(
    180deg, 
    rgba(2,0,36,1)   0%, 
  rgba(35,34,65,0) 0%,
   rgba(0,0,0,0.7) 52%
  );
  border-radius: 15px;
   
    
}
.photo-name-and-age{
  display: flex;
  align-items: center;
  margin-bottom: 6px;
  font-size: 1.4rem
}
.photo-name-and-age h2:nth-child(2){
  margin-left: 10px;
  font-weight: 500;
}
.photo-bio{
  line-height: 1.7rem;
  font-size: 1.1rem;
  font-weight: 500;
}

/*actions*/

.actions{
  display: flex;
  flex: auto;
  align-items: center;
  margin:1rem 0;
  justify-content: center;

}
.action{
  background:#fff;
  box-shadow: 0 2px 6px 0 rgba(112,125,134,0.32);
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 2rem;
  transition: transform 400ms ease;
}
.action:hover{
  cursor:pointer;
  transform: scale(1.2);
}
.actions .action:nth-child(1){
    color: #fd5068;
    padding: 15px;
    font-weight: 700;
  }

.actions .action:nth-child(2){
  color: #2db1ff;
  margin: 0 1rem;
  height: 48px;
  width: 48px;
  font-size: 1.5 rem;
}
.actions .action:nth-child(3){
  color:#1be4a1;
}


/* desktop view*/

@media(min-width:1025px){

  .photo{
    width: 367px;
    height: 684px;
  }
  .navbar{
    width: 400px;
    margin: auto;
  }
  .action{
    transition: transform 400ms ease;
    
  }
  .action:hover{
    cursor:pointer;
    transform: scale(1.2);
  }
}